#map {
	padding: 0;
	height: 550px;
	width: 960px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	border: 1px solid #666;
  float: right;
}
/* 
 * Bootstrap and googlemaps have slight conflict... setting max with = non on images on map cleares this
 */
#map img {
  max-width: none;
}
/*
 * also an issue with the dropdown selectors for terrain and overlays
 */
#mapCanvas label { width: auto; display:inline; }
#mapCanvas img { max-width: none; }
